{% extends "crossword/includes/_base.html" %}
{% load static %}
{% block canonical %}
    {% if page_obj.number == 1 %}
        <link rel="canonical" href="https://cstrivia.com/puzzle/">
    {% else %}
        <link rel="canonical"
              href="https://cstrivia.com/puzzle/?page={{ page_obj.number }}">
    {% endif %}
{% endblock %}
{% block title %}
    Archive | CS Trivia
{% endblock %}
{% block meta_description %}
    <meta name="description" content="Browse all published CS Trivia puzzles.">
{% endblock %}
{% block styles %}
    <link rel="stylesheet"
          href="{% static 'crossword/css/includes/_layout.css' %}">
    <link rel="stylesheet"
          href="{% static 'crossword/css/includes/_puzzle_list.css' %}">
    <link rel="stylesheet"
          href="{% static 'crossword/css/includes/_pagination.css' %}">
    <link rel="stylesheet" href="{% static 'crossword/css/archive.css' %}">
{% endblock %}
{% block content %}
    <h1>Archive</h1>
    <p>Browse all published puzzles.</p>
    {% include "crossword/includes/_puzzle_list.html" %}
    {% include "crossword/includes/_pagination.html" %}
{% endblock %}
