{% load static %}
<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="{% static 'crossword/css/site.css' %}">
    <link rel="icon" sizes="16x16" href="{% static 'crossword/img/favicon-16.png' %}">
    <link rel="icon" sizes="48x48" href="{% static 'crossword/img/favicon-48.png' %}">

    {% block canonical %}{% endblock %}

    <title>{% block title %}CS Trivia{% endblock %}</title>
    {% block meta_description %}{% endblock %}
    {% block styles %}{% endblock %}

    <!-- Open Graph (LinkedIn, Facebook, etc.) -->
    <meta property="og:title" content="{% block og_title %}CS Trivia | Computer Science Crosswords{% endblock %}" />
    <meta property="og:description" content="{% block og_description %}Computer science crosswords for anyone curious about computer science.{% endblock %}" />
    <meta property="og:type" content="{% block og_type %}website{% endblock %}" />
    <meta property="og:url" content="{% block og_url %}https://cstrivia.com{{ request.path }}{% endblock %}" />
    <meta property="og:image" content="{% block og_image %}https://cstrivia.com/static/crossword/img/landing-page.png{% endblock %}" />

     <!-- Twitter (also used by some platforms) -->
    <meta name="twitter:card" content="{% block twitter_card %}summary_large_image{% endblock %}" />
    <meta name="twitter:title" content="{% block twitter_title %}CS Trivia | Computer Science Crosswords{% endblock %}" />
    <meta name="twitter:description" content="{% block twitter_description %}Computer science crosswords for anyone curious about computer science.{% endblock %}" />
    <meta name="twitter:image" content="{% block twitter_image %}https://cstrivia.com/static/crossword/img/landing-page.png{% endblock %}" />

    {% block head_extra %}{% endblock %}
  </head>
  <body class="{% block body_class %}{% endblock %}">
    {% block header %}
      {% include "crossword/_header.html" %}
    {% endblock %}

    <main>
      {% block content %}{% endblock %}
    </main>

    {% block footer %}
      {% include "crossword/_footer.html" %}
    {% endblock %}

    {% block scripts %}{% endblock %}
  </body>
</html>
