{% extends "crossword/base.html" %}
{% load static %}

{% block canonical %}
  <link rel="canonical" href="https://cstrivia.com/design/">
{% endblock %}

{% block title %}
    Design Notes | CS Trivia
{% endblock %}

{% block meta_description %}
  <meta
    name="description"
    content="Notes on how puzzles are constructed and the ideas behind them."
  >
{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'crossword/css/design.css' %}">
{% endblock %}

{% block content %}
  <h1>Design Notes</h1>

  <p>
    Notes on how puzzles are constructed and the ideas behind them.
  </p>

  {% include "crossword/includes/design_list.html" %}
{% endblock %}
