{% extends "crossword/base.html" %}
{% load static %}

{% block canonical %}
  <link rel="canonical" href="https://cstrivia.com/">
{% endblock %}

{% block title %}
  Computer Science Crosswords | CS Trivia
{% endblock %}

{% block meta_description %}
  <meta name="description" content="Computer science crosswords for anyone curious about computer science.">
{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'crossword/css/index.css' %}">
{% endblock %}

{% block head_extra %}
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/rss.xml">

  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "WebSite",
      "name": "CS Trivia",
      "url": "https://cstrivia.com",
      "description": "Computer science crosswords for anyone curious about computer science."
    }
  </script>
{% endblock %}

{% block header %}{% endblock %}

{% block content %}
  <section class="hero">
    <h1>Computer Science Crosswords</h1>

    <p class="subheadline">
      For anyone curious about CS
    </p>

    <div class="hero-meta">
      <p id="tagline">No ads &bull; No login</p>
      <p id="release-cadence">New puzzles every Tuesday <span>12:00&nbsp;UTC</span></p>
    </div>

    {% if latest_puzzle %}
      <a href="{% url 'puzzle' latest_puzzle.puzzle_number %}" class="cta" aria-label="Solve latest puzzle">Solve&nbsp;latest&nbsp;puzzle&nbsp;&rarr;</a>

      <a href="{% url 'puzzle' latest_puzzle.puzzle_number %}" aria-label="Solve latest puzzle" class="hero-link">
        <img src="{% static 'crossword/img/board.png' %}" alt="Solve latest puzzle" class="hero-screenshot">
      </a>
    {% endif %}
  </section>

  {% include "crossword/includes/puzzle_list.html" %}

  <p class="puzzle-note">Each crossword is manually constructed. 
    <a class="design-note-link" href="/design">Design&nbsp;Notes&nbsp;&rarr;</a>
  </p>

  <p class="site-values">Open source &bull; No tracking &bull; No data collection</p>
{% endblock %}
