{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{% static 'crossword/css/site.css' %}">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Privacy | CS Trivia</title>
        <link rel="canonical" href="https://cstrivia.com/privacy/">
    </head>
    <body class="privacy-body">
        <div class="privacy-container">
            <a href="/" class="privacy-home-link">
                &larr;&nbsp;CS&nbsp;Trivia
            </a>

            <h1 class="privacy-title">Privacy</h1>

            <p>CS Trivia is a lightweight site built with privacy in mind.</p>

            <p>
                This site does not track users, collect personal information, or use analytics.
                The code for the site is open source and available on
                <a href="https://github.com/JuliusBoateng/cstrivia" target="_blank" rel="noopener noreferrer">GitHub</a>.
            </p>

            <p>
                To prevent puzzles from accidentally clearing on page refresh, your answers are temporarily stored in your browser's session storage. 
                This data is automatically cleared by your browser when the tab is closed.
            </p>
        </div>
    </body>
</html>