{% load static %}
<!doctype html>
<html lang="en-US">
  <head>
    {{board_view_dto|json_script:"board-view-dto" }}
    <link rel="stylesheet" href="{% static 'criss_cross/style.css' %}">
    <script type="module" src="{% static 'criss_cross/dist/main.js' %}"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Criss-Cross</title>
  </head>
  <body class="off-white">
    <div class="main">
      <h1>Criss-Cross</h1>
        <div class = "puzzle-panel">
            <table id="puzzle" class="board"></table>
        </div>
    </div>
  </body>
</html>