*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
    font-family: system-ui, "Segoe UI", Roboto, sans-serif;
}

html, body {
    height: 100%;
  }

body {
    margin: 0;
}

.main {
    max-width: 1440px;
    margin: 0 auto;
    height: 100%;
}

h1 {
    text-align: center;
}

.puzzle-panel {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

table.board {
    table-layout: fixed;
    width: clamp(300px, 40vw, 800px);
    min-width: 300px;
    border: 2px solid #1a1a1a;
    border-collapse: collapse;
}

table.board td {
    border: 1px solid gainsboro;
    background: white;
    padding: 0;
}

.off-white {
    background: whitesmoke;
}

table.board td.block {
    background: #1a1a1a;
    border-color: #1a1a1a;
}

table.board td > div {
    width: 100%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
