*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
    height: 100%;
  }

html {
    font-family: system-ui, "Segoe UI", Roboto, sans-serif;
}

body {
    margin: 0;
}

.main {
    max-width: 1440px;
    margin: 0 auto;
    height: 100%;
}

h1 {
    text-align: center;
}

.puzzle-panel {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

table.board {
    table-layout: fixed;
    width: clamp(300px, 40vw, 800px);
    min-width: 300px;
    border: 2px solid black;
    border-collapse: collapse;
}

.board td {
    border: 1px solid black;
    padding: 0;
}

.board td > div {
    width: 100%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}