*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
    --space-xs: 0.25rem;
    --space-sm: 0.5rem;
    --space-md: 1rem;
    --space-lg: 2rem;
    --space-xl: 3rem;
    --site-max-width: 1440px;
  }

html {
    font-family: system-ui, "Segoe UI", Roboto, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    line-height: 1.5;
    color: #1f2937;
    background: #f5f5f5;;
}

.main {
    max-width: var(--site-max-width);
    margin: 0 auto;
    flex: 1;
  }
  
.container {
    max-width: 720px;
    margin: 0 auto;
    padding: 2rem 1rem;
}

.hero h1 {
    font-size: clamp(1.9rem, 3.1vw, 2.3rem);
    line-height: 1.2;
    font-weight: 600;
    margin-bottom: var(--space-md);
}

.subheadline {
  font-size: clamp(1.1rem, 1.4vw, 1.2rem);
  color: #4b5563;
  line-height: 1.5;
  margin-bottom: var(--space-lg);
}

.hero {
  text-align: left;
}

.hero-meta {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);

  font-size: 1.05rem;
}

.hero-meta p:first-child {
  color: #111827;
  font-weight: 500;
}

.hero-meta p:last-child {
  color: #6b7280;
  font-weight: 400;
}

.hero-meta p:last-child::after {
  font-weight: 500;
  color: #4b5563;
}

.hero-meta p:last-child span {
  color: #4b5563;
  font-weight: 500;
  margin-left: 0.25rem;
}

.hero-screenshot {
  display: block;
  width: clamp(200px, 35%, 400px);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
  margin-top: 1rem;
}

.puzzle-list {
  margin-top: 0;
  padding-top: 0;
}

.puzzle-list h2 {
  margin-top: 0;
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
}

.puzzle-list ul {
  padding-top: 0.25rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.puzzle-list li {
  margin-bottom: 0.25rem;
}

.puzzle-list a {
  display: flex;
  gap: 0.5rem;
  align-items: baseline;

  text-decoration: none;
  color: inherit;

  padding: 0.3rem 0.4rem;
  border-radius: 6px;
}

.puzzle-list a:hover {
  background: #f2f2f2;
}

.puzzle-number {
  color: #6b7280;
}

.puzzle-title {
  font-weight: 500;
}

.puzzle-date {
  margin-left: auto;
  color: #6b7280;
  font-size: 0.9em;
}

.site-footer {
  text-align: center;
  margin-top: 1.5rem;
  padding: 1rem 0;
  font-size: 0.85rem;
  color: #777;
}

.site-footer a {
  color: inherit;
  text-decoration: underline;
}

.site-footer a:hover {
  color: #555;
}

.about {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);

  font-size: 0.95rem;
  color: #6b7280;

  padding-top: var(--space-md);
  border-top: 1px solid #f3f4f6;
}

p {
  margin: 0;
}