<div class="exhibit-list">
    <ul>
        {% for exhibit in exhibits %}
            <li>
                <a href="{% url 'exhibit' exhibit.exhibit_number %}" class="exhibit-row">
                    <span class="exhibit-number">Exhibit {{ exhibit.exhibit_number }}:</span>
                    <span class="exhibit-title">{{ exhibit.title }}</span>
                    <span class="exhibit-date">{{ exhibit.published_at|date:"M j, Y" }}</span>
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
